.light-blue {
    background: rgb(165, 166, 246);
    background: radial-gradient(circle, rgba(165, 166, 246, 1) 0%, rgba(93, 95, 239, 1) 35%, rgba(34, 34, 34, 1) 100%);
}

.dark-blue {
    background: rgb(93, 95, 239);
    background: radial-gradient(circle, rgba(93, 95, 239, 1) 0%, rgba(165, 166, 246, 1) 35%, rgba(34, 34, 34, 1) 100%);
}

.light-orange {
    background: rgb(255, 193, 7);
    background: radial-gradient(circle, rgba(255, 193, 7, 1) 0%, rgba(245, 110, 0, 1) 35%, rgba(34, 34, 34, 1) 100%);
}

.dark-orange {
    background: rgb(245, 110, 0);
    background: radial-gradient(circle, rgba(245, 110, 0, 1) 0%, rgba(255, 193, 7, 1) 35%, rgba(34, 34, 34, 1) 100%);
}

.dark-background {
    background: rgb(34, 34, 34);
    background: radial-gradient(circle, rgba(34, 34, 34, 1) 0%, rgba(245, 110, 0, 1) 35%, rgba(255, 193, 7, 1) 100%);
}