


$iris-light: #a5a6f6;
$iris-dark: #5d5fef;
$orange-light: #ffc107;
$orange-dark: #f56e00;
$bg-dark: #222;

.navbar {
z-index:10;
}
.container {
    display: flex;
    justify-content: center;
}

.navbar-custom {
    background-color: #f56e00;
}

.dropdown-item,
.dropdown-toggle,
.nav-bar-toggler-icon {
    color: #ffc107;
    background-color: #f56e00;
}

.flex-container{
    display: flex;
    justify-content: center;
}

.dropdown-menu {
    background-color: #ffc107;
}

.form {
    width: 100%;
    overflow: hidden;
}

input {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #5d5fef;
}

.footer p a {
    color: #ffc107;
}

.btn-primary {
    position: absolute;
    display: inline-block;
bottom: 3rem;
left: 6rem;
}
.btn-secondary {
    position: absolute;
    display: inline-block;
  bottom: 3rem;
left: 0rem;
}

.dropdown-toggle {
    color:#ffc107;
}

