@import "../../css/style";

body {
  height: 95vh !important;
}

.sectionDescr {
  margin: 1rem 0;
  color: whitesmoke;
  font-size: 1.5rem;
  list-style-type: none;

  ul {
    background-color: whitesmoke;
    color: #222;
    border-radius: 5px;
    padding-left: 5px;
  }
}

.title {
  padding-top: 3rem;
  color: whitesmoke;
  text-align: center;
}

.keyboardMap {
  padding-top: 3rem;

  img {
    max-width: 80%;
  }
}

#uselessBtn {
  margin-bottom: 5rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .keyboard {
    margin-top: 1.5rem;
    padding: 2rem 0;
  }

  .whiteKey {
    height: 50px;
    width: 50px;
    background-color: white;
    text-align: center;
    font-weight: 700;
  }
  .blackKey {
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .redKey {
    height: 50px;
    width: 50px;
    background-color: crimson;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  .keyPressed {
    background-color: #96ec02;
    color: #222;
  }

  .sectionDescr {
    ul {
      width: 75%;
    }
  }
}

@media (min-width: 992px) {
  .sectionDescr {
    ul {
      width: 60%;
    }
  }
}

@media (min-width: 1200px) {
  .sectionDescr {
    ul {
      width: 35%;
    }
  }
}
