@import "../../css/style";

body {
  max-height: 95vh;
}

.sectionDescr {
  margin: 1rem 0;
  color: whitesmoke;
  font-size: 1.5rem;
  list-style-type: none;

  ul {
    background-color: whitesmoke;
    color: #222;
    border-radius: 5px;
    padding-left: 5px;
    width: 35%;
  }
}

.title {
  padding-top: 3rem;
  color: whitesmoke;
  text-align: center;
}

.keyboardMap {
  padding-top: 3rem;

  img {
    max-width: 100%;
  }
}

#uselessBtn {
  margin-bottom: 5rem;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
