* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  max-width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/jawid/images/eric-nopanen-8e0EHPUx3Mo-unsplash.jpg");
  background-size: cover;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 70px;
  background-color: #222;
  #home {
    i {
      color: #f56e00;
      width: 50px;
      margin-left: 15px;
    }
    i:hover {
      color: #ffc107;
    }
  }
  #music-icon {
    width: 45px;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 15px;
  }
}
.player {
  margin: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  border: 1px solid transparent;
  padding: 20px;
  background-image: linear-gradient(red, yellow, green);
  border-radius: 15px;
  box-shadow: rgba(46, 45, 45, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.track-art {
  margin: 25px;
  height: 250px;
  width: 250px;
  border: 2px solid #fff;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  -moz-box-shadow: 0px 6px 5px #ccc;
  -webkit-box-shadow: 0px 6px 5px #ccc;
  box-shadow: 0px 6px 5px #ccc;
  -moz-border-radius: 190px;
  -webkit-border-radius: 190px;
  border-radius: 190px;
}
.now-playing {
  font-size: 1rem;
}
.track-name {
  font-size: 2rem;
}
.track-artist {
  margin-top: 5px;
  font-size: 1rem;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.active {
  color: black;
}
.repeat-track,
.random-track,
.playPause-track,
.prev-track,
.next-track {
  padding: 15px;
  opacity: 0.8;
  transition: opacity 0.2s;
}
.repeat-track:hover,
.random-track:hover,
.playPause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
}
.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: #5d5fef;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  border: 3px solid #a5a6f6;
  cursor: pointer;
  border-radius: 100%;
}
.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}
.seek_slider {
  width: 60%;
}
.volume_slider {
  width: 30%;
}
.current-time,
.total-duration {
  padding: 10px;
}
i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
.randomActive {
  color: black;
}
.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
  }
}

@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }
  100% {
    height: 100%;
  }
}
.stroke:nth-child(1) {
  animation-delay: 0s;
}
.stroke:nth-child(2) {
  animation-delay: 0.3s;
}
.stroke:nth-child(3) {
  animation-delay: 0.6s;
}
.stroke:nth-child(4) {
  animation-delay: 0.9s;
}
.stroke:nth-child(5) {
  animation-delay: 0.6s;
}
.stroke:nth-child(6) {
  animation-delay: 0.3s;
}
.stroke:nth-child(7) {
  animation-delay: 0s;
}
#wave {
  margin-bottom: 20px;
}
footer {
  left: 0;
  bottom: 0;
  max-width: 100%;
  padding: 10px;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .contactInfo {
    text-align: center;
    p {
      color: white;
      span {
        color: #f56e00;
        font-size: 1.2rem;
      }
      span:hover {
        color: #ffc107;
        cursor: pointer;
      }
    }

    .contact {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      img {
        width: 30px;
        margin: 10px 5px;
      }
      img:hover {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
  }
}
@media screen and (max-width: 540px) {
  .player {
    margin: 0;
  }
  .wrapper {
    margin: 0;
    width: 100%;
    border-radius: 0%;
  }
  #group-members {
    display: none;
  }
}
