$iris-light: #a5a6f6;
$iris-dark: #5d5fef;
$orange-light: #ffc107;
$orange-dark: #f56e00;
$bg-dark: #222;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-dark;
}
