* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #018281;
}

body main #desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main #desktop #desktopmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #desktop #desktopmain #icons {
  margin-top: 10px;
  margin-left: 10px;
}

body main #desktop #desktopmain #icons div {
  margin-bottom: 3vh;
}

body main #desktop #desktopmain #icons .icons {
  display: block;
  margin-bottom: 3vh;
}

body main #desktop #desktopmain #boxBox {
  max-width: 750px;
  height: 380px;
  background-color: #C0C0C0;
  border: 1px solid black;
  margin: auto;
  margin-top: 20px;
}

body main #desktop #desktopmain #boxBox #windowsBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0009b0;
  margin: 1px;
}

body main #desktop #desktopmain #boxBox #windowsBox p {
  color: white;
}

body main #desktop #desktopmain #boxBox #windowsBox #windowsButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #desktop #desktopmain #boxBox #windowsBox #windowsButtons .button {
  display: block;
  margin: 1px;
  width: 14px;
  height: 14px;
  background-color: #C0C0C0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

body main #desktop #desktopmain #boxBox #contentBox .mainBox {
  border: 2px solid #C0C0C0;
  background-color: black;
  overflow-y: scroll;
}

body main #desktop #desktopmain #boxBox #contentBox .mainBox p {
  color: white;
}

body main #desktop #desktopmain #boxBox #contentBox #roomBox {
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  color: white;
  padding: 5px;
}

body main #desktop #desktopmain #boxBox #contentBox #actionBox {
  height: 70px;
}

body main #desktop #desktopmain #boxBox #contentBox #inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #desktop #desktopmain #boxBox #contentBox #inputBox input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body main #desktop #desktopmain #boxBox #contentBox #inputBox .button {
  display: block;
  margin: 1px;
  background-color: #C0C0C0;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid white;
  border-left: 1px solid white;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}

body main #desktop #desktopmain #boxBox #contentBox #inputBox .button p {
  color: black;
}

body main #desktop #desktopmain #boxBox #contentBox #inputBox #submit {
  cursor: pointer;
}

body main #desktop #taskbar {
  background-color: #C0C0C0;
  border-top: 1px solid black;
}

body main #desktop #taskbar div #start {
  cursor: pointer;
  display: block;
  margin: auto;
  margin-left: 2px;
}

body .hint {
  color: green;
}

body #startPop {
  display: none;
  position: fixed;
  bottom: 29px;
  width: 180px;
  height: 200px;
  background-color: #C0C0C0;
  border-top: 1px solid black;
  border-right: 1px solid black;
}

body #startPop #startContent {
  margin-left: 5px;
}

body #startPop #startContent #mainContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

body #startPop #startContent #mainContent #mainImg {
  margin-right: 5px;
}

body #startPop #startContent #created {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-top: 5px;
}

body #startPop #startContent #created #createdImg {
  margin-right: 5px;
}

body #startPop #startContent #created:hover {
  background-color: #0009b0;
}

body #startPop #startContent #created:hover p {
  color: white;
}

body #startPop #startContent a:hover {
  background-color: #0009b0;
}

body #startPop #startContent a:hover p {
  color: white;
}

body #createdPop {
  display: block;
  position: fixed;
  bottom: 80px;
  left: 180px;
  width: 150px;
  height: 120px;
  background-color: #C0C0C0;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
}

body #createdPop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

body #createdPop a img {
  margin-right: 5px;
}

body #createdPop a:hover {
  background-color: #0009b0;
  color: white;
}

@media only screen and (max-width: 600px) {
  #icons {
    display: none;
  }
}
/*# sourceMappingURL=koen.css.map */