*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    main{
        #boxBox{
            background-color: #C0C0C0;
            border: 1px solid black;
            #windowsBox{
                background-color: rgb(0, 9, 176);
                margin: 1px;
                p{
                    color: white;
                }
            }
            #contentBox{
                .mainBox{
                    border: 2px solid #C0C0C0;
                    background-color: black;
                    p{
                        color: white;
                    }
                }
            }
        }
    }
}